:root {
  --color-background-main: #FFF;
  --color-background-secondary: #F7F8FA;
  --color-background-contrast: #E1E3E6;
  --color-background-overlay: rgba(37,40,43,0.9);
  --color-content-lead: #000;
  --color-content-main: #222426;
  --color-content-secondary: #73777D;
  --header-height: calc(16rem + 4vw);
  --header-height-cover: calc(24rem + 8vw);
  --post-header-height: calc(16rem + 4vw);
  --post-header-height-cover: calc(16rem + 8vw);
  --nav-padding: 2rem 4rem;
  --logo-height: 4rem;
  --header-box-padding: calc(4rem + 2vw);
  --header-box-padding-cover: calc(8rem + 4vw);
  --banner-logo-height: 20rem;
}

.theme-dark:root {
  --color-background-main: #222426;
  --color-background-secondary: #1D1F20;
  --color-background-contrast: #3B3D40;
  --color-background-overlay: rgba(9,10,13,0.9);
  --color-content-lead: #FFF;
  --color-content-main: #E1E3E6;
  --color-content-secondary: #909499;
}

@media (prefers-color-scheme: dark) {
  html:not(.theme-light):root {
    --color-background-main: #222426;
    --color-background-secondary: #1D1F20;
    --color-background-contrast: #3B3D40;
    --color-background-overlay: rgba(9,10,13,0.9);
    --color-content-lead: #FFF;
    --color-content-main: #E1E3E6;
    --color-content-secondary: #909499;
  }
}
